<div class="flex justify-between items-center pb-4">
  <div class="flex items-center flex-shrink-0 cursor-pointer">
    <%= image_tag("favicon.png", width: "40", class: "mr-3 inline-block") %>
    <span class="text-xl text-oddball font-semibold">Fitness</span>
  </div>
  <ul class="hidden md:flex overflow-x-hidden font-semibold">
    <li class="mr-6 p-1 border-b-2">
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "text-oddball cursor-pointer hover:text-oddball-lighter") %>
    </li>
  </ul>
</div>
