@tailwind base;
@tailwind components;
@tailwind utilities;

.flash-success {
  background-color: theme("colors.green.100");
  color: theme("colors.green.500");
  border: 1px solid theme("colors.green.500");

  svg {
    color: theme("colors.green.500");
  }
}

.flash-error {
  background-color: theme("colors.red.100");
  color: theme("colors.red.500");
  border: 1px solid theme("colors.red.500");

  svg {
    color: theme("colors.red.500");
  }
}
